@model LoginAuth.Models.ViewModels.ApplicationUserResetPasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
 
<h3>Forgot my password</h3>
 
<hr />
@if (ViewBag.State == null)
{
    <form asp-action="ResetPassword">
        <table>
            <tr>
                <td colspan="3"><div asp-validation-summary="All"></div></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input asp-for="Email" /></td>
                <td><span asp-validation-for="Email"></span></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Send a request to reset the password" /></td>
            </tr>
        </table>
    </form>
}
else
{
    if (ViewBag.State)
    {
        @:<div class="alert-success">Request for resetting password has been sent to the email of interest.</div>
    }
    else
    {
        @:<div class="alert-success">There does not exist a user pertaining to the given email address. </div>
    }
}