@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700&display=swap');
:root{
    --primary-color: #BA7EA0;
}

body{
    font-family: 'Alegreya Sans', sans-serif;
}

.container{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 5em 3em 6em 2em 4em 50em;
    justify-items: start;

    .title{
        grid-area: 1/2/2/4;
        margin: 0 0 0 1em;
        justify-items: start;
        align-self: center;
        font-size: 1.6em;
    }

    .subtitle{
        grid-area: 2/2/3/4;
        margin: 0;
        justify-items: start;
        align-self: center;
        color: var(--primary-color);
        font-size: 1.3em;
    }

    .description{
        font-size: 1.15em;
        margin: 0;
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        align-self: center;
    }
    .categories{
        grid-area: 5/2/6/3;
        align-self: center;
        margin: 0;
        color: var(--primary-color);
        font-size: 1.3em;
        font-weight: bold;
    }

    .vertical-menu {
        height: 50em;
        border-color: black;
        grid-area: 6/2/7/4;
        border-color: black;
      }
    
      .vertical-menu .accordion {
        background-color: #eeeeee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: .1px solid white;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        text-decoration: none;
        font-size: 1.1em;
        border-radius: 7px;
      }
    
      .accordion:after {
        content: '\002B';
        font-weight: bold;
        float: right;
        margin-left: 5px;
        font-size: 1.1em;
      }
      
      .active:after {
        content: "\2212";
        font-size: 1.1em;
      }

      .vertical-menu .accordion.active {
        background-color: var(--primary-color);
        color: white;
      }
      
      .panel {
        padding: 0 18px;
        background-color: #fafafa;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        li{
            display: inline-block;
        }

        input[type="checkbox"][id^="cb"] {
            display: none;
        }

        label {
            grid-column: 1;
            border: 1px solid #fff;
            margin: 10px;
            padding: 10px;
            display: block;
            position: relative;
            cursor: pointer;
            
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          
          label::before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
          }
          
          label img {
            height: 5em;
            width: 5em;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
          }
          
          :checked+label {
            border-color: #ddd;
          }
          
          :checked+label::before {
            content: "✓";
            background-color: grey;
            transform: scale(1);
          }
          
          :checked+label img {
            transform: scale(0.9);
            box-shadow: 0 0 5px #333;
            z-index: -1;
          }

        img {
            display: block;
            height: 80px;
            width: 80px;
            border: none;
            border-radius: 10px;
            grid-column: 1;
        }

        .sub-club-name {
            grid-column: 2;
            font-size: 1.2em;
        }
      }

      

}




