# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LoginAuth.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\bbm384\LoginAuth\.idea\.idea.LoginAuth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
